<launch>
  <master auto="start"/>
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(find fourth_robot_2dnav)/map/tsukuba2017/tc2017_1028.yaml" />
  
  <!--- Run AMCL -->
  <include file="$(find fourth_robot_2dnav)/launch/amcl/amcl_tc2017.launch" />

  <!-- MOVE BASE -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	<!-- COST MAP -->
    <rosparam file="$(find fourth_robot_2dnav)/params/costmap/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find fourth_robot_2dnav)/params/costmap/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find fourth_robot_2dnav)/params/costmap/local_costmap.yaml" command="load" />
    <rosparam file="$(find fourth_robot_2dnav)/params/costmap/global_costmap.yaml" command="load" />
	<!-- BASE GLOBAL PLANNER -->
	<rosparam file="$(find fourth_robot_2dnav)/params/planner/global/navfn_planner.yaml" command="load" />
	<!-- BASE LOCAL PLANNER -->
	<rosparam file="$(find fourth_robot_2dnav)/params/planner/local/dwa_planner.yaml" command="load" />
	<!-- RECOVERY -->
	<rosparam file="$(find fourth_robot_2dnav)/params/planner/recovery_behaviors.yaml" command="load"/>
	<!-- MOVE BASE -->
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />
    <param name="max_planning_retries" value="10" />
    <param name="oscillation_timeout" value="10.0" />
    <param name="clearing_rotation_allowed" value="true" />
  </node>
  <param name="NavfnROS/allow_unknown" value="false"/>
</launch>
