<launch>
  <master auto="start"/>
  <!-- MAP SERVER -->
  <!-- 戸畑キャンパス  -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find fourth_robot_2dnav)/map/front_control.yaml" /> -->

  <!-- 大清水公園 -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find fourth_robot_2dnav)/map/tsukuba01/ooshimizu01.yaml" /> -->

  <!-- 中村記念館 -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find fourth_robot_2dnav)/map/nakamura_memorial.yaml" /> -->

  <!-- もの作り工房 -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find fourth_robot_2dnav)/map/monotsukuri-17.yaml" /> -->

  <!-- 取材用デモ -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find fourth_robot_2dnav)/map/interview.yaml" /> -->

  <!-- 駅伝大会 -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find fourth_robot_2dnav)/map/ekiden_final/map1234.yaml" />
  
  <!--- Run AMCL -->
  <include file="$(find fourth_robot_2dnav)/launch/amcl/amcl.launch" />

  <!-- MOVE BASE -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	<!-- COST MAP -->
    <rosparam file="$(find fourth_robot_2dnav)/params/costmap/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find fourth_robot_2dnav)/params/costmap/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find fourth_robot_2dnav)/params/costmap/local_costmap.yaml" command="load" />
    <rosparam file="$(find fourth_robot_2dnav)/params/costmap/global_costmap.yaml" command="load" />
	<!-- BASE GLOBAL PLANNER -->
	<!-- <param name="base_global_planner" value="navfn/NavfnROS" /> -->
    <param name="base_global_planner" value="carrot_planner/CarrotPlanner" />
	<rosparam file="$(find fourth_robot_2dnav)/params/planner/base_global_planner.yaml" command="load" />
	<!-- BASE LOCAL PLANNER -->
	<param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
	<rosparam file="$(find fourth_robot_2dnav)/params/planner/local/dwa_planner.yaml" command="load" />
	<!-- RECOVERY -->
	<rosparam file="$(find fourth_robot_2dnav)/params/planner/recovery_behaviors.yaml" command="load"/>
	<!-- MOVE BASE -->
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />
    <param name="max_planning_retries" value="10" />
    <param name="oscillation_timeout" value="10.0" />
    <param name="clearing_rotation_allowed" value="true" />
  </node>
  <param name="NavfnROS/allow_unknown" value="false"/>
</launch>
