<?xml version="1.0"?>

<model>
  <name>Robotrace Plane</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Yoshiaki Sato</name>
    <email>virtualgimbal@xa2.so-net.ne.jp</email>
  </author>

  <description>
    An robotrace textured plane.
  </description>

</model>
