<launch>
  <!-- Center Camera -->
  <node name="center_camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <remap from="image" to="image_raw"/>
    <param name="video_device" value="/dev/video0" />
    <param name="camera_frame_id" value="center_camera" />
    <param name="camera_info_url" value=""/>
    <param name="camera_name" value="center_camera"/>
    <rosparam file="$(find fourth_robot_bringup)/config/sensors/camera_common.yaml" command="load"/>
  </node>
  <node name="center_cam_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/center_camera/image_raw"/>
    <param name="autosize" value="true" />
  </node>

  <!-- Right Camera -->
  <node name="right_camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <remap from="image" to="image_raw"/>
    <param name="video_device" value="/dev/video1" />
    <param name="camera_frame_id" value="right_camera" />
    <param name="camera_info_url" value=""/>
    <param name="camera_name" value="right_camera"/>
    <rosparam file="$(find fourth_robot_bringup)/config/sensors/camera_common.yaml" command="load"/>
  </node>
  <node name="right_cam_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/right_camera/image_raw"/>
    <param name="autosize" value="true" />
  </node>

  <!-- Left Camera -->
  <node name="left_camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <remap from="image" to="image_raw"/>
    <param name="video_device" value="/dev/video2" />
    <param name="camera_frame_id" value="left_camera" />
    <param name="camera_info_url" value=""/>
    <param name="camera_name" value="left_camera"/>
    <rosparam file="$(find fourth_robot_bringup)/config/sensors/camera_common.yaml" command="load"/>
  </node>
  <node name="left_cam_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/left_camera/image_raw"/>
    <param name="autosize" value="true" />
  </node>
</launch>
