<launch>
  <!-- arguments -->
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="joy_config" default="$(find fourth_robot_gazebo)/config/joy/ps3.yaml" />
  <arg name="robot_config" default="$(find fourth_robot_gazebo)/config/joy/fourth_robot.yaml" />

  <!-- joy_node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy">
    <param name="dev" type="string" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="25" />
  </node>

  <!-- joy_twist -->
  <node pkg="joy_twist"   type="joy_twist_node"  name="joy_twist" output="screen">
    <rosparam command="load" ns="joy_conf/" file="$(arg joy_config)" />
    <rosparam command="load" ns="robot_conf/" file="$(arg robot_config)" />
    <param name="cmdvel_topic_name" value="diff_drive_controller/cmd_vel" />
    <param name="joy_topic_name" value="joy" />
  </node>

</launch>
