<launch>

  <!-- Run the map server -->
  <node name="map_server"
  		pkg="map_server"
  		type="map_server" args="$(find fourth_robot_2dnav)/map/201511080238.yaml" />
  
  <node pkg="fourth_robot_nav_goals" 
		type="fourth_robot_waypoints_saver" 
		name="fourth_robot_waypoints_saver"
		output="screen">
    <param name="savewaypointsfile" value="$(find fourth_robot_nav_goals)/waypoints/201511042000.csv" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fourth_robot_nav_goals)/config/fourth_robot_waypoints_saver.rviz" required="true" />

</launch>
