<launch>
  <arg name="model" default="$(find architect_description)/robots/architect.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  
  <include file="$(find architect_bringup)/launch/robot/driver.launch"/>
  <include file="$(find architect_bringup)/launch/joy/joy_control.launch"/>
  
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find architect_bringup)/config/rviz/2dmapping.rviz" required="true" /> -->
</launch>
