<launch>
  <arg name="waypoint_filename" default="$(find architect_bringup)/waypoints/tsukuba2017/tc2017_without_pede.csv" />
  <arg name="start_waypoint" default="0"/>

  <node name="cirkit_waypoint_navigator_node" pkg="cirkit_waypoint_navigator" type="cirkit_waypoint_navigator_node" output="screen">
    <param name="waypointsfile" value="$(arg waypoint_filename)" />
    <param name="start_waypoint" value="$(arg start_waypoint)"/>
  </node>

  <node pkg="cirkit_waypoint_generator" name="cirkit_waypoint_server" type="cirkit_waypoint_server" args="--load $(arg waypoint_filename)" output="screen"/>
</launch>
